.layer-wrap {  position: fixed;  top: 0px;  left: 0px;  width: 100%;  height: 100%;  z-index: 9997; background: rgba(0,0,0,0.6);}
.layer-bg {  position: fixed;  top: 0px;  left: 0px;  width: 100%;  height: 100%;}
.layer-box{width:100%; overflow: hidden;  position: relative;  z-index: 2; top: 30%; padding:0 9%;}
.layer-inner{width: 100%; position: relative;  background-color: #f9f9f9;  -webkit-border-radius: 10px; border-radius: 10px;}
.layer-inner .layer-title{ text-align: center; color: #666; padding: 15px 0; }
.layer-inner .layer-title h5{font-size: 18px; font-weight: 700; }
.layer-inner .layer-close{ display: inline-block; width: 28px; height: 28px; position: absolute; right: 10px; top: 10px; -webkit-border-radius: 14px; border-radius: 14px; background: #e0e0e0 url(../img/tp_close.png) center center no-repeat; background-size:16px; }
.layer-footer-actions{ display: -webkit-box; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-align: center; border-top:1px solid #d4d4d4;}
.layer-footer-actions .layer-btn-lg{ display: block;width: 100%; -webkit-box-flex: 1; text-align: center;border-right:1px solid #d4d4d4;}
.layer-footer-actions .layer-btn-lg:last-child{border-right:0 none;}
.layer-btn-txt{ display: block; line-height: 44px; font-size: 16px; color: #15c35a; }
.layer-content{ padding:20px; font-size: 14px; color: #666; text-align: center; line-height: 20px; }
.layer-txt-h{ font-size: 18px; color: #333; font-weight: normal; line-height: 24px; margin-bottom: 10px; }
.layer-txt-c{ font-size: 14px; color: #999; }
.layer-img-top{ text-align: center; overflow: hidden; }
.picture-toppic1{ background: #f2f2f2; height: 140px; overflow: hidden; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; }
.picture-toppic2{ padding-top:25px; }
.show { display: block; opacity: 1; }
.hide { 
  -webkit-animation: fadeOutDown .6s ease both;
  animation: fadeOutDown .6s ease both;
}
.layer-box {
  -webkit-animation: fadeInDown .6s ease both;
  animation: fadeInDown .6s ease both;
}
.noshow { display: none }
@-webkit-keyframes fadeInDown { 0% {
opacity:0;
-webkit-transform:translate3d(0, -50%, 0);
transform:translate3d(0, -50%, 0)
}
100% {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInDown { 0% {
opacity:0;
-webkit-transform:translate3d(0, -50%, 0);
transform:translate3d(0, -50%, 0)
}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@media(max-width:320px) {
  .layer-box{padding: 0 6%;}
}

