/* 新洲推广 2018-04-12 */
.swiper-sydney .swiper-slide1{ background: url(../img/sydney_bg_1.jpg) center center no-repeat; background-size: cover; }
.swiper-sydney .swiper-slide2{ background: url(../img/sydney_bg_2.jpg) center center no-repeat; background-size: cover; }
.swiper-sydney .swiper-slide3{ background: url(../img/sydney_bg_3.jpg) center center no-repeat; background-size: cover; }
.swiper-sydney .swiper-slide4{ background: url(../img/sydney_bg_4.jpg) center center no-repeat; background-size: cover; }
.swiper-sydney .swiper-slide6{ background: url(../img/bg_5.jpg) center center no-repeat; background-size: cover; }
.swiper-sydney .p2_1,.swiper-sydney .p3_1,.swiper-sydney .p4_1,.swiper-sydney .p5_1,.swiper-sydney .p6_1{ margin-top: 4.286em; }
.swiper-sydney .p1_2{ margin-top: 0; }



