@charset "utf-8";
html { font-size: 100%;}
body, ul, p, h1, h2, h3, h4, dl, dt, dd, li, input, textarea, button, header, menu, nav, section{ margin: 0; padding: 0;}
html, body {  -webkit-text-size-adjust: 100%;  -webkit-tap-highlight-color: rgba(255,0,0,0);}
body { background: #fff; width: 100%; max-width: 640px; margin:0 auto; font-size: 12px;  font-family:'Microsoft Yahei', Helvetica, sans-serif; }
html, a { -webkit-tap-highlight-color: transparent; text-decoration: none; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
ul, li { list-style: none; }
input,button,textarea,select {font-size: 100%; outline: 0; border: 0 none; resize: none; -webkit-appearance: none;-webkit-border-radius: 0}
img { border:0;vertical-align: middle;}
input::-moz-placeholder {color: #ccc;}
input::-webkit-input-placeholder {color: #ccc;}
.s-gn{ color: #2fb820; }
.clearfix { *zoom:1;}
.clearfix:after { display: block; clear: both; height: 0; overflow: hidden; visibility: hidden; content: "."; }
.s-header{width: 100%; height: auto; position: relative;}
.s-header .logo{ display: block; width: 105px; height: 30px; position: absolute; left: 15px; top: 15px; background: url(../img/logo.png) center center no-repeat; background-size: 100%;  }
.s-header .hd-mask{ width: 100%; position: absolute; left: 0; top: 50%; margin-top: -30px; right: 0; text-align: center; color: #fff; }
.s-header .hd-mask h3{ font-size: 16px; line-height: 24px; padding-bottom: 10px; font-weight: normal; }
.s-header .hd-mask h2{ font-size: 24px; line-height: 30px; font-weight: normal; }
.s-header .s-gw{ display: block; width: 54px; height: 54px; -webkit-border-radius:27px; border-radius:27px; overflow: hidden; position: absolute; left: 50%; margin-left: -27px; bottom: -27px; background: url(../img/gw-img.jpg) center center no-repeat; background-size: 100%; }
.s-content-1{ padding:40px 35px 5px 35px ; }
.s-content-1 .s-cont-t1{ text-align: center; font-size:18px; color: #666; font-weight: normal; margin-bottom: 6px; }
.s-content-1 .s-cont-t1 span{ color: #2fb820; }
.s-content-1 .s-cont-t2{ text-align: center; font-size:14px; color: #999; }
.s-content-1 .s-cont-t2 span{ color: #666; }
.s-content-1 .s-form{ padding-top: 15px; }
.s-content-1 .s-ipt { display: block; border:1px solid #ccc; background-color: #FFF;margin-bottom: 10px;height: 44px;  padding:0 10px;line-height: 44px;-webkit-border-radius: 4px; border-radius: 4px; }
.s-content-1 .s-ipt input{ width: 100%;   font-size: 16px; color: #333;  }
.s-content-1 .s-btn{ display: block; width: 100%; background-color: #2fb820; color: #fff; margin-bottom: 10px;  text-align: center; font-size:18px;  height: 44px; line-height: 44px; padding:0 10px; -webkit-border-radius: 4px; border-radius: 4px;}
.s-content-1 .s-btn:active{ background-color: #209b12; }
.sar-dw{ display:block; width: 20px; height: 20px; margin:10px auto; background: url(../img/s-arrow-dw.png) no-repeat; background-size: 20px; }
.s-content-2{ padding:15px; }
.s-tab-nav{ display: -webkit-box; width: 100%; }
.s-tab-nav li{ -webkit-box-flex: 1; vertical-align: middle; position: relative; border-bottom:1px solid #e5e5e5; padding-bottom: 10px; }
.s-tab-nav li:after{display: none; content: '';width:0;height:0; position: absolute; bottom: 0; left: 50%; margin-left: -2px; border-left:4px solid transparent; border-right:4px solid transparent;  border-bottom:4px solid #e5e5e5;}
.s-tab-nav li span{ display: block; text-align: center; font-size: 16px; color: #666; position: relative; }
.s-tab-nav li span:after{ display: inline-block; content: ''; width:4px; height: 4px; position: absolute; right: 0; top: 50%; margin-top: -2px; -webkit-border-radius: 2px; border-radius: 2px; background-color: #dddddd; }
.s-tab-nav li:last-child span:after{ display: none; }
.s-tab-nav li i{ display: inline-block; width: 26px; height: 26px; margin-right: 2px; background: url(../img/s-icons.png) no-repeat; background-size: 105px 55px; vertical-align: middle; }
.s-tab-nav .s-commont i{ background-position: 0 -31px; }
.s-tab-nav .s-prize i{ background-position: -39px -32px; }
.s-tab-nav .s-cert i{ background-position: -83px -31px; }
.s-tab-nav .current{border-bottom-color:#2fb820;}
.s-tab-nav .current:after{ display: inline-block; border-bottom-color:#2fb820;}
.s-tab-nav .current span{ color: #2fb820;}
.s-tab-nav .current .s-commont i{ background-position: 0 0; }
.s-tab-nav .current .s-prize i{ background-position: -39px -1px;}
.s-tab-nav .current .s-cert i{ background-position: -83px -1px; }
.s-tab-cont{ display: block; width: 100%; padding-top: 10px; }
.s-commont-cont{padding:10px 15px 50px 15px; }
.comment-list{}
.comment-list li{ display: block; border-bottom: 1px solid #e5e5e5; margin-bottom: 15px; position: relative; padding: 12px 0; }
.comment-list li.last { border-bottom: 0 none; }
.comment-list .comment-userinfo{ overflow: hidden; height: 30px; line-height: 30px; margin-bottom: 8px; }
.comment-list .comment-userinfo .comment-userimg{ float: left; display: inline-block; width: 30px; height: 30px; overflow: hidden; background: url(../img/user-default-img.png) center center no-repeat; background-size: 30px; }
.comment-list .comment-userinfo .comment-userid{ float: left; display: inline-block;  padding-left: 8px; color: #999; font-size: 14px; line-height: 30px; }
.comment-list .comment-cont{ margin-bottom: 10px; font-size: 14px; line-height: 18px; color: #666; }
.comment-list .comment-degree{text-align: right; color: #ccc; font-size: 12px; }
.comment-list .comment-degree .comment-star-box{ display: inline-block;overflow: hidden;padding-right: 5px; position: relative; top:1px; }
.comment-list .comment-degree .comment-star-box .comment-star{ float: left;  display: inline-block; width: 12px; height: 12px; background: url(../img/s-stars.png) 0 0 no-repeat; background-size: 24px 12px; }
.comment-list .comment-degree .comment-star-box .comment-star-half{ float: left; display: inline-block; width: 12px; height: 12px; background: url(../img/s-stars.png) -12px 0 no-repeat;background-size: 24px 12px; }
.s-prize-cont{padding-bottom: 50px;}
.s-timeline{ padding:10px; }
.s-timeline .s-year-item{ width: 100%; position: relative;text-align: center; padding-top: 8px; padding-bottom: 8px;}
.s-timeline .s-year-item .year-icon { display: block; margin: 5px 0; text-align: center; }
.s-timeline .s-year-item .year-icon span {display: inline-block; position: relative; background-color: #2fb820; width: 62px; height: 62px;  border-radius: 31px; color: #fff; line-height: 62px; text-align: center; font-size: 14px; }
.s-timeline .s-year-item .year-icon span:before { content: ''; display: inline-block; position: absolute; margin: auto; left: 0; right: 0; top: -12px; width: 10px; height: 10px; background-color: #2fb820; opacity: 0.1 }
.s-timeline .s-year-item .year-icon span:after { content: ''; display: inline-block; position: absolute; margin: auto; left: 0; right: 0; bottom: -12px; width: 10px; height: 10px; background-color: #2fb820; opacity: 0.1 }
.s-timeline .s-year-item .year-inf{ font-size: 14px; color: #666; padding-top: 14px; }
.s-cert-cont{ padding:20px 15px; }
.s-cert-item{ margin-bottom: 30px; }
.s-cert-item .s-cert-tit{ font-size: 14px; color: #333; font-weight: normal; margin-bottom: 10px; }
.s-cert-item .s-cert-inf{ font-size: 12px; color: #999; border-left: 2px solid #969696; padding-left: 10px; }
.s-cert-item .s-cert-img{ padding:20px 0; }

.share-tips{ width: 100%; min-height: 40px; color: #FFF; position: fixed; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.8); padding:12px; padding-left: 60px; overflow: hidden; z-index: 999;}
.share-tips .app-logo{ display: block; width: 40px; height: 40px; position: absolute; left: 10px; top: 12px;}
.share-tips .ap1{ font-size: 16px; line-height: 24px;}
.share-tips .ap2{font-size: 12px; color:#ccc;}
.share-tips .btn-ty{ display: inline-block; height: 32px; line-height: 32px; padding:0 10px; position: absolute; right: 20px; top:14px; background: #8ec31f; -webkit-border-radius: 4px; border-radius: 4px; min-width: 85px; text-align: center; color: #FFF;}
.share-tips .btn-ty span{color: #FFF; font-size: 14px;}
.share-close{ display: inline-block; width: 20px; height: 20px; position: absolute;right: 0; top: 0; background: url(../img/share-close.png) no-repeat; background-size: 20px;}
.sem-layer h5.layer-txt-h{ margin-top:10px; }
.sem-layer .s-btn{ display: block; width: 100%; background-color: #2fb820; color: #fff; margin-bottom: 10px;  text-align: center; font-size:16px;  height: 44px; line-height: 44px; padding:0 10px; -webkit-border-radius: 4px; border-radius: 4px;}
.sem-layer .s-btn:active{ background-color: #209b12; }
.sem-layer .layer-footer-actions{padding:0 15px 10px 15px; border:0 none;}
.sem-layer .layer-txt-c{ font-size: 13px; }

@media (max-width:320px){
	.s-content-1{padding:30px 30px 5px 30px; }
	.s-content-1 .s-cont-t1{ margin-bottom: 0; }
	.share-tips .btn-ty{min-width:auto; top: 10px;}
	.share-tips{ padding:5px; padding-left: 50px; }
	.share-tips .app-logo{ width: 35px; height: 35px; top: 8px; }
	.s-commont-cont{padding:10px 0 50px 0; }
	.s-content-1 .s-form{padding-top: 8px;}
}
@media (min-width:410px){
	.s-header .hd-mask h3{ font-size: 18px; }
	.s-header .hd-mask h2{ font-size: 28px; }
	.s-content-1 .s-cont-t1{ font-size: 20px; }.s-content-1 .s-cont-t2{ font-size: 16px; }
	.s-timeline .s-year-item .year-icon span{ width: 80px; height: 80px; font-size: 18px; line-height: 80px; -webkit-border-radius: 40px; border-radius: 40px; }
	.sem-layer .layer-txt-c{ font-size: 14px; }
}

/* 下单送基金 20160420 */
.s-content-1 .s-form{padding-top: 5px;}
.s-tips{ font-size: 14px; color: #f60; text-align: center; padding:5px 0; }

/* ================ 下单V2版本 20160612 ================= */
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;}
.swiper-pagination-bullet-active{ background-color: #FFF;}
.swiper-container-horizontal>.swiper-pagination{bottom: 0.714em;}
.swiper-slide img{ width: 100%; height: auto;}
.swiper-slide1{ background: url(../img/bg_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide2{ background: url(../img/bg_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide3{ background: url(../img/bg_3.jpg) center center no-repeat; background-size: cover; }
.swiper-slide4{ background: url(../img/bg_4.jpg) center center no-repeat; background-size: cover; }
.swiper-slide5{ background: url(../img/bg_5.jpg) center center no-repeat; background-size: cover; }
.swiper-slide6{ background: url(../img/bg_6.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-antarctic1{ background: url(../img/bg_antarctic_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-antarctic2{ background: url(../img/bg_antarctic_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-argentina1{ background: url(../img/bg_argentina_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-argentina2{ background: url(../img/bg_argentina_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-bolivia1{ background: url(../img/bg_bolivia_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-bolivia2{ background: url(../img/bg_bolivia_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-brazil1{ background: url(../img/bg_brazil_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-brazil2{ background: url(../img/bg_brazil_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-canada1{ background: url(../img/bg_canada_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-canada2{ background: url(../img/bg_canada_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-chile1{ background: url(../img/bg_chile_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-chile2{ background: url(../img/bg_chile_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-ecuador1{ background: url(../img/bg_ecuador_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-ecuador2{ background: url(../img/bg_ecuador_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-peru1{ background: url(../img/bg_peru_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-peru2{ background: url(../img/bg_peru_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-usa1{ background: url(../img/bg_usa_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-usa2{ background: url(../img/bg_usa_2.jpg) center center no-repeat; background-size: cover; }
.p1_1{ width:100%; margin-top:1.429em;}
.p1_2{width:100%; margin-top:0.714em;}
.p2_1{margin-top:1.429em;}
.p3_1{margin-top: 4.286em;}
.p4_1{margin-top: 2.643em;}
.p5_2{margin-top: 3.286em;}
.arrow-box{position: absolute;bottom: -45px;left: 0;right: 0;margin: 0 auto;width: 50%;height: 80px;z-index: 900;}
#array{-webkit-animation: start 1.5s infinite ease-in-out; display:block;margin: 15px  auto 0 auto;width: 20px;height: 15px;z-index: 999;}
@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
    0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
    60% {opacity: 1;-moz-transform: translate(0,0);}
    100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
    0%,30% {opacity: 0;transform: translate(0,10px);}
    60% {opacity: 1;transform: translate(0,0);}
    100% {opacity: 0;transform: translate(0,-8px);}
}
.bd-form{ padding:15px 40px 0 40px; width: 100%; background-color: rgba(0,0,0,.2); padding-top: 0.714em; padding-bottom: 4em; position: absolute; bottom: 0; -webkit-box-sizing: border-box; box-sizing: border-box;  }
.bd-form h2{ font-size: 14px; font-weight: normal; color: #fff; text-align: center; margin:0; margin-bottom: 15px; }
.bd-form .bd-form-list,.bd-form .bd-form-list li{ list-style: none; padding:0; margin:0; }
.bd-form .bd-form-list li{ display: block; margin-bottom: 10px; }
.bd-form .bd-form-list li label{ display: block; width: 100%; height: 40px; position: relative; }
.bd-form .bd-form-list li .bd-ipt{ width: 100%; height:40px; font-size: 12px; color: #666; line-height: 20px; padding:10px 10px 10px 24px; background-color: #fff; -webkit-border-radius: 4px; border-radius: 4px; }
.bd-form .bd-form-list .s-btn{ display: block; width: 100%; background-color: #2fb820; color: #fff; margin-bottom: 10px;  text-align: center; font-size:14px;  height: 40px; line-height: 40px; padding:0 10px; -webkit-border-radius: 4px; border-radius: 4px;}
.bd-form .bd-form-list .s-btn:active{ background-color: #209b12; }
.bd-form .bd-form-list .fm-dest:before{ display: inline-block; content: ''; width: 15px; height: 15px; position: absolute; left: 5px; top: 50%; margin-top: -8px; background: url(../img/icon-dest.png) center center no-repeat; background-size: 15px; }
.bd-form .bd-form-list .fm-phone:before{ display: inline-block; content: ''; width: 15px; height: 15px; position: absolute; left: 5px; top: 50%; margin-top: -8px; background: url(../img/icon-phone.png) center center no-repeat; background-size: 15px; }

@media screen and (max-width:320px) {
    body .swiper-container { font-size: 14px;  }
    .bd-form{padding-bottom: 2.857em;}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) { 
    body .swiper-container { font-size: 14px;  }
    .p1_2{width:100%; margin-top:0;}
    .bd-form{padding-bottom: 1.429em;}
    .bd-form .bd-form-list li .bd-ipt{ padding:5px; height: 30px; }
    .bd-form .bd-form-list .s-btn{height: 30px; line-height: 30px;}
    .p3_1{ margin-top: 2.143em; }
}
@media screen and (min-width:360px) {
    body .swiper-container { font-size: 16px }
}
@media screen and (min-width:400px) {
    body .swiper-container { font-size: 18px }
    .bd-form{padding-top: 1.071em;}
}
@media screen and (min-width:440px) {
    body .swiper-container { font-size: 20px }
}
@media screen and (min-width:480px) {
    body .swiper-container { font-size: 22px }
}
@media screen and (min-width:640px) {
    body .swiper-container { font-size: 28px }
}
/* 成功提示 20160630 */
.bd-success{padding:15px 25px 0 25px; padding-bottom: 2em;  }
.success-tips{ color: #fff; font-size: 14px; text-align: center; min-height: 140px; }
.success-actions{ display: -webkit-box; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-align: center;}
.success-actions .layer-btn-lg{ display: block;width: 100%; -webkit-box-flex: 1; text-align: center;border-right:1px solid #d4d4d4;}
.success-actions .layer-btn-lg:last-child{border-right:0 none;}
.success-content{ padding:15px 0; font-size: 14px; text-align: center; line-height: 20px; }
.success-txt-h{ font-size: 18px; margin:0;  font-weight: normal; line-height: 24px; margin-bottom: 10px; }
.success-txt-c{ font-size: 13px; }
.success-actions .s-btn{ display: block; width: 100%; background-color: #2fb820; color: #fff; margin-bottom: 10px;  text-align: center; font-size:16px;  height: 40px; line-height: 40px; padding:0 10px; -webkit-border-radius: 4px; border-radius: 4px;}
.success-actions .s-btn:active{ background-color: #209b12; }
.icon-success{ display: inline-block; width: 40px; height: 40px; margin-right: 10px; vertical-align: middle; position: relative; top: -4px; background: url(../img/icon-success.png) center center no-repeat; background-size: 40px; }
.tips-txt{ text-align: center; font-size: 12px; line-height: 14px; position: relative; top: -8px; color: #fb4d3c; }

/* 顶部增加APP下载 20160721 */
.share-tips{ width: 100%; min-height: 46px; color: #FFF; position: fixed; top: 0; bottom:auto; left: 0; right: 0; background: rgba(0,0,0,.7); padding:5px 10px; padding-left: 55px; overflow: hidden; z-index: 999;}
.share-tips .app-logo{ display: block; width: 36px; height: 36px; position: absolute; left: 10px; top: 5px;}
.share-tips .ap1{ font-size: 13px; line-height: 20px;}
.share-tips .ap2{font-size: 11px; color:#ccc;}
.share-tips .btn-ty{ display: inline-block; height: 26px; line-height: 26px; padding:0 10px; position: absolute; right: 15px; top:10px; background: #8ec31f; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; color: #FFF;}
.share-tips .btn-ty span{color: #FFF; font-size: 13px;}
.p1_1{margin-top:2.857em;}
.p2_1{margin-top:2.857em;}

/* 新增目的地 澳大利亚新西兰 20160727 */
.swiper-slide-australia1{ background: url(../img/bg_australia_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-australia2{ background: url(../img/bg_australia_2.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-newzealand1{ background: url(../img/bg_newzealand_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-newzealand2{ background: url(../img/bg_newzealand_2.jpg) center center no-repeat; background-size: cover; }

/* 新增美签季 20160819 */
.swiper-slide-meiqian1{ background: url(../img/bg_meiqian.jpg) center center no-repeat; background-size: cover; }
.bd-form{ padding-bottom: 2em; }

/* 南极 20160830 */
.swiper-nanji1{ background: url(../img/bg-nanji-1.jpg) center center no-repeat;background-size: cover; }
.swiper-nanji2{ background: url(../img/bg-nanji-2.jpg) center center no-repeat;background-size: cover; }
.swiper-nanji3{ background: url(../img/bg-nanji-3.jpg) center center no-repeat;background-size: cover; }
.swiper-nanji4{ background: url(../img/bg-nanji-4.jpg) center center no-repeat;background-size: cover; }
.swiper-nanji5{ background: url(../img/bg-nanji-5.jpg) center center no-repeat;background-size: cover; }
.swiper-nanji6{ background: url(../img/bg-nanji-6.jpg) center center no-repeat;background-size: cover; }
.swiper-nanji7{ background: url(../img/bg-nanji-7.jpg) center center no-repeat;background-size: cover; }
.p-nanji1-2{ position: absolute; bottom: 14%; left: 0; width: 100%; }
.p-nanji3-1,.p-nanji4-1,.p-nanji5-1,.p-nanji6-1{ position: relative; top:6%; }
.p-nanji3-2{position: absolute; top: 30%; left: 0; width: 100%;}
.p-nanji4-2,.p-nanji6-2{position: absolute; bottom: 14%; left: 0; width: 100%;}
.p-nanji7-1{ position: relative; top:5%; }
.arrow-box{bottom: -30px;}
#array{width: 32px; height: 24px; z-index: 999;}

/* 新增目的地 北欧 20160831 */
.swiper-slide-stb1{ background: url(../img/bg_stb_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-stb2{ background: url(../img/bg_stb_2.jpg) center center no-repeat; background-size: cover; }

.logosmall{ display: inline-block; width: 18px; height: 18px; position: relative; top:-2px; margin-right: 5px; }

/* 新增目的地 墨西哥 20170310 */
.swiper-slide-mexico1{ background: url(../img/bg_mexico_1.jpg) center center no-repeat; background-size: cover; }
.swiper-slide-mexico2{ background: url(../img/bg_mexico_2.jpg) center center no-repeat; background-size: cover; }

/* 泰国推广 2017-08-14 */
.swiper-thailand .swiper-slide1{ background: url(../img/thailand_bg_1.jpg) center bottom no-repeat; background-size: cover; }
.swiper-thailand .swiper-slide2{ background: url(../img/thailand_bg_2.jpg) center bottom no-repeat; background-size: cover; }
.swiper-thailand .swiper-slide3{ background: url(../img/thailand_bg_3.jpg) center bottom no-repeat; background-size: cover; }
.swiper-thailand .swiper-slide4{ background: url(../img/thailand_bg_4.jpg) center bottom no-repeat; background-size: cover; }
.swiper-thailand .swiper-slide5{ background: url(../img/thailand_bg_5.jpg) center bottom no-repeat; background-size: cover; }
.swiper-thailand .p2_1,.swiper-thailand .p3_1,.swiper-thailand .p4_1,.swiper-thailand .p5_1,.swiper-thailand .p6_1{ margin-top: 4.286em; }
.swiper-thailand .p1_2{ margin-top: 0; }

